In [96]:
import os
from copy import copy

from utility_dot_py.utility import build_dict_from_csv
from assistments_workbench.config_reader import config

In [97]:
id_file = os.path.join(config.get('localfiles', 'data_path'), 'assistment-sri id mapping for Neil.csv')

In [98]:
id_data = build_dict_from_csv(id_file, 1, True, True)

In [99]:
len(id_data)

1695

In [100]:
nova_file = os.path.join(config.get('localfiles', 'data_path'), 'TerraNova students 11-4-2015.csv')

In [101]:
nova_data = build_dict_from_csv(nova_file, 8, True, False)

In [102]:
len(nova_data)

3421

In [103]:
output_data = []

In [104]:
for k, v in id_data.items():
    score = nova_data[k]
    for i in v:
        new_score_data = copy(score)
        new_score_data['student_user_id'] = i['ASSISTments user id']
        new_score_data['sri_id'] = k
        output_data.append(new_score_data)

In [105]:
len(output_data)

1788

In [106]:
output_data[:3]

[{'Class ID': 'B',
  'Cohort': '1',
  'Condition': 'Treatment',
  'Grade': '7',
  'Pair': '1e',
  'SPED': 'no',
  'School': 'Loranger Middle School',
  'School ID': '45',
  'Teacher ID': '194',
  'Teacher Name Last': 'Dennis',
  'TerraNova Math Performance Level': '3',
  'TerraNova Score': '685',
  'TerraNova Test Completed': 'yes',
  'sri_id': '4026',
  'student_user_id': '241788'},
 {'Class ID': 'B',
  'Cohort': '1',
  'Condition': 'Treatment',
  'Grade': '7',
  'Pair': '1e',
  'SPED': 'no',
  'School': 'Loranger Middle School',
  'School ID': '45',
  'Teacher ID': '194',
  'Teacher Name Last': 'Dennis',
  'TerraNova Math Performance Level': '3',
  'TerraNova Score': '679',
  'TerraNova Test Completed': 'yes',
  'sri_id': '4027',
  'student_user_id': '241778'},
 {'Class ID': 'B',
  'Cohort': '1',
  'Condition': 'Treatment',
  'Grade': '7',
  'Pair': '1e',
  'SPED': 'no',
  'School': 'Loranger Middle School',
  'School ID': '45',
  'Teacher ID': '194',
  'Teacher Name Last': 'Dennis',
  'TerraNova Math Performance Level': '2',
  'TerraNova Score': '665',
  'TerraNova Test Completed': 'yes',
  'sri_id': '4024',
  'student_user_id': '241782'}]

In [107]:
sql_str = '''INSERT INTO xx_score(
            class_id, cohort, condition, grade, pair, sped, school, school_id, 
            teacher_id, teacher_name_last, terranova_math_performance_level, 
            terranova_score, terranova_test_completed, student_user_id, sri_id)
    VALUES ('%s', %s, '%s', %s, '%s', '%s', '%s', %s, 
            %s, '%s', %s, 
            %s, '%s', %s, %s);\n'''

In [108]:
output_file_name = os.path.join(config.get('localfiles', 'data_path'), 'score_sql.txt')

In [109]:
output_file = open(output_file_name, 'w')

In [110]:
for i in output_data:
    for k,v in i.items():
        if len(v) == 0:
            i[k] = 'null'
    outptu_str = sql_str % (i['Class ID'], i['Cohort'], i['Condition'], i['Grade'], i['Pair'], i['SPED'], i['School'], i['School ID'], 
                            i['Teacher ID'], i['Teacher Name Last'], i['TerraNova Math Performance Level'], 
                            i['TerraNova Score'], i['TerraNova Test Completed'], i['student_user_id'], i['sri_id'])
        
    output_file.write(outptu_str)

In [111]:
output_file.close()