In [68]:
import numpy as np
import pandas as pd
from sklearn import ensemble
from sklearn.linear_model import LogisticRegression
import os

from assistments_workbench.config_reader import config
from assistments_workbench.models.model import classification_model

In [69]:
data = pd.read_csv(os.path.join(config.get('localfiles', 'data_path'), 'arrs_data.csv'))

In [70]:
data['on_grade'] = np.nan
data['grade_diff_2'] = np.nan

In [71]:
data.describe()

,id,student_class_id,class_grade,grade_diff,adaptive_mode,mastered,delay_days,work_delay_in_day,ms,class_performance,...,skill_id,prereq_skill_id,prereq_easiness,prereq_performance,easiness,right,wrong,correct,on_grade,grade_diff_2
count,21425.000000,21425.000000,21425.000000,21425.000000,21425.000000,21425.000000,21425.000000,21425.000000,21425.000000,21425.000000,...,21425.000000,21425.000000,21425.000000,21425.000000,21425.000000,21425.000000,21425.000000,21425.000000,0,0
mean,570159.633559,33109.643174,7.479347,-0.050035,0.535543,0.992999,6.077993,16.284294,4.752159,0.707702,...,207.173676,176.095776,0.711619,0.808622,0.708009,3.559253,1.190805,0.701190,NaN,NaN
std,100392.987895,2675.788911,1.371097,0.529575,0.498747,0.083382,1.781270,26.939130,3.302097,0.062715,...,60.857489,55.756447,0.093623,0.218598,0.146376,1.350446,2.195581,0.457747,NaN,NaN
min,389087.000000,22906.000000,5.000000,-5.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.477352,...,46.000000,10.000000,0.452082,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,491757.000000,31432.000000,7.000000,0.000000,0.000000,1.000000,6.000000,2.000000,3.000000,0.684806,...,196.000000,130.000000,0.661031,0.666667,0.617647,3.000000,0.000000,0.000000,NaN,NaN
50%,549286.000000,31883.000000,8.000000,0.000000,1.000000,1.000000,7.000000,7.000000,3.000000,0.725898,...,217.000000,212.000000,0.701277,0.833333,0.741860,3.000000,0.000000,1.000000,NaN,NaN
75%,657761.000000,36454.000000,8.000000,0.000000,1.000000,1.000000,7.000000,18.000000,6.000000,0.744366,...,259.000000,213.000000,0.773080,1.000000,0.811111,4.000000,2.000000,1.000000,NaN,NaN
max,820106.000000,40977.000000,12.000000,10.000000,1.000000,1.000000,7.000000,268.000000,79.000000,0.847858,...,296.000000,296.000000,0.946102,1.000000,1.000000,25.000000,54.000000,1.000000,NaN,NaN

In [72]:
data = data.drop_duplicates(['id', 'prereq_skill_id','prereq_easiness'], keep='first')

In [73]:
data.describe()

,id,student_class_id,class_grade,grade_diff,adaptive_mode,mastered,delay_days,work_delay_in_day,ms,class_performance,...,skill_id,prereq_skill_id,prereq_easiness,prereq_performance,easiness,right,wrong,correct,on_grade,grade_diff_2
count,20564.000000,20564.000000,20564.000000,20564.000000,20564.000000,20564.000000,20564.000000,20564.000000,20564.000000,20564.000000,...,20564.000000,20564.000000,20564.000000,20564.000000,20564.000000,20564.000000,20564.000000,20564.000000,0,0
mean,566536.336462,33002.983077,7.483807,-0.046878,0.532241,0.992706,6.110679,16.487794,4.689068,0.709437,...,207.686588,176.569977,0.711412,0.810482,0.709818,3.540897,1.145983,0.715814,NaN,NaN
std,100241.793871,2653.785596,1.371187,0.506381,0.498972,0.085097,1.750721,26.989248,3.135947,0.061337,...,61.173924,55.723398,0.094021,0.217528,0.144406,1.314566,2.070086,0.451037,NaN,NaN
min,389087.000000,22906.000000,5.000000,-5.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.477352,...,46.000000,10.000000,0.452082,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,491142.250000,31432.000000,7.000000,0.000000,0.000000,1.000000,6.000000,2.000000,3.000000,0.686752,...,196.000000,130.000000,0.661031,0.681818,0.620961,3.000000,0.000000,0.000000,NaN,NaN
50%,548494.000000,31862.000000,8.000000,0.000000,1.000000,1.000000,7.000000,7.000000,3.000000,0.725898,...,217.000000,212.000000,0.701277,0.833333,0.742044,3.000000,0.000000,1.000000,NaN,NaN
75%,657217.500000,36454.000000,8.000000,0.000000,1.000000,1.000000,7.000000,18.000000,5.000000,0.744366,...,259.000000,213.000000,0.779803,1.000000,0.811467,4.000000,1.000000,1.000000,NaN,NaN
max,820106.000000,40977.000000,12.000000,10.000000,1.000000,1.000000,7.000000,268.000000,79.000000,0.847858,...,296.000000,296.000000,0.946102,1.000000,1.000000,25.000000,54.000000,1.000000,NaN,NaN

In [74]:
pfa_data = data[['skill_id', 'easiness', 'right', 'wrong', 'correct']]

In [75]:
pfa_data.describe()

           skill_id      easiness         right         wrong       correct
count  20564.000000  20564.000000  20564.000000  20564.000000  20564.000000
mean     207.686588      0.709818      3.540897      1.145983      0.715814
std       61.173924      0.144406      1.314566      2.070086      0.451037
min       46.000000      0.000000      0.000000      0.000000      0.000000
25%      196.000000      0.620961      3.000000      0.000000      0.000000
50%      217.000000      0.742044      3.000000      0.000000      1.000000
75%      259.000000      0.811467      4.000000      1.000000      1.000000
max      296.000000      1.000000     25.000000     54.000000      1.000000

In [76]:
label = 'correct'
all_features = pfa_data.columns.tolist()
all_features.remove(label)
predictors = all_features
categorical_features = ['skill_id']
k = 5

In [77]:
model = LogisticRegression()
classification_model(model, pfa_data, predictors, label, categorical_features, k)

Predictors: ['skill_id', 'easiness', 'right', 'wrong']

auc: 0.730454852602
r2: 0.137243466012
rmse: 0.419066478892
accuracy: 0.740419718819

In [78]:
grade_diff_grouped = data.groupby('grade_diff')

In [79]:
for name, group in grade_diff_grouped:
    if name == 0:
        # on grade
        data['on_grade'] = 1
        data['grade_diff_2'] = 1
    else:
        data['on_grade'] = 0
        if name > 0:
            # above grade
             data['grade_diff_2'] = 0
        elif name == -1:
            # one year ago
            data['grade_diff_2'] = 2
        else:
            # longer ago
            data['grade_diff_2'] = 3

In [80]:
label = 'correct'
all_features = data.columns.tolist()
all_features.remove(label)
all_features.remove('id')
all_features.remove('grade_diff')
# all_features.remove('right')
# all_features.remove('wrong')
predictors = all_features
categorical_features = ['student_class_id', 'adaptive_mode', 'mastered', 'skill_id', 'prereq_skill_id', 'on_grade', 'grade_diff_2']

In [81]:
# model = ensemble.GradientBoostingClassifier()
model = LogisticRegression()

In [82]:
classification_model(model, data, predictors, label, categorical_features, k)

Predictors: ['student_class_id', 'class_grade', 'adaptive_mode', 'mastered', 'delay_days', 'work_delay_in_day', 'ms', 'class_performance', 'class_assignment_performance', 'skill_id', 'prereq_skill_id', 'prereq_easiness', 'prereq_performance', 'easiness', 'right', 'wrong', 'on_grade', 'grade_diff_2']

auc: 0.766428175745
r2: 0.189180572475
rmse: 0.40616359919
accuracy: 0.760503648865